<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/public/js/libs/three.min.js"></script>
    <script src="/public/js/libs/OrbitControls.js"></script>
</head>
<body>
    Which Config <input type="range" min="0" max="10" value="0" class="slider" id="db_entry_num_slider" onchange="updateVals()"><br>
    {{{body}}}
</body>
</html>