<script src="/public/js/src/init.js"></script>
<script src="/public/js/src/draw.js"></script>
<script src="/public/js/src/utils.js"></script>


<div id="div"></div>

<script>
    var div3d = document.getElementById("div");
    var scene, camera, controls, light, renderer;
    var NUMBER_CONFIGS=0;
    var CONFIG_POLYS=[];
    var meshArr = [];
    var DB_ENTRY=0;
    var SPACE_HT=0;
</script>


<script>
    CONFIG_POLYS=[];
    var decodedJson = decodeURIComponent("{{{encodedJson}}}");
    var jsonObj = JSON.parse(decodedJson);
    for(var i=0; i<jsonObj.length; i++){
        var polyArr=jsonObj[i].poly.split("/");
        NUMBER_CONFIGS=polyArr.Length;
        var poly2=[];
        polyArr.forEach(poly=>{
            var ptArr=poly.split(";");
            var pts=[];
            ptArr.forEach(pt=>{
                // console.log(pt);
                let x=parseFloat(pt.split(",")[0]);
                let y=parseFloat(pt.split(",")[1]);
                let z=parseFloat(pt.split(",")[2]);
                if(isNaN(x) == false && isNaN(y) == false && isNaN(z) == false){
                    let coor={'x':x, 'y':y, 'z':z};
                    pts.push(coor);
                }
            });
            poly2.push(pts);
        });
        CONFIG_POLYS.push(poly2);
    }
    NUMBER_CONFIGS = CONFIG_POLYS.length ;
    console.log(CONFIG_POLYS.length +", "+ NUMBER_CONFIGS);

    var slider = document.getElementById ("db_entry_num_slider");
    if ('max' in slider) {  // Google Chrome, Safari from version 5 and Opera
        slider.max = NUMBER_CONFIGS;
    } else {
            // Safari before version 5
        slider.setAttribute ("max", NUMBER_CONFIGS);
    }

    document.getElementById("db_entry_num_slider").max=CONFIG_POLYS.Length+"";
    if(CONFIG_POLYS.length>0){
        document.getElementById("infoP").innerHTML = "PLEASE REFRESH... no results retrieved from DB"
    }else{
        document.getElementById("infoP").innerHTML = "TOTAL DB RESULTS "+ CONFIG_POLYS.length;
    }
</script>


<script>
    init3d();
    // setInterval(animationLoop, 100);
</script>