<script>
    var decodedJson = decodeURIComponent("{{{encodedJson}}}");
    var jsonObj = JSON.parse(decodedJson);
    for(var i=0; i<jsonObj.length; i++){
        var polyArr=jsonObj[i].poly.split("/");
        polyArr.forEach(poly=>{
            var ptArr=poly.split(";");
            ptArr.forEach(pt=>{
                console.log(pt);
            });
        });
    };
    // console.log(jsonObj)

</script>

<div id="div"></div>

<script>
    var div3d = document.getElementById("div");
    var scene, camera, controls, light, renderer;
    var meshArr = [];
</script>


<script src="/public/js/src/init.js"></script>
<script src="/public/js/src/draw.js"></script>
<script src="/public/js/src/utils.js"></script>

<script>
    init3d();
</script>